@tailwind base;
@tailwind components;
@tailwind utilities;

@layer sidebar {
  .sidebar {
    @apply fixed right-0 z-40 h-screen w-screen animate-[sidebar_0.2s_ease-in-out] bg-white dark:bg-dark md:w-96;
  }
  .sidebar-close {
    @apply fixed -right-full z-40 h-screen w-screen animate-[sidebarClose_0.2s_ease-in-out] bg-white dark:bg-dark md:w-96;
  }
}

@layer text-stroke {
  .text-stroke {
    -webkit-text-stroke: 1px black;
  }
}

.section {
  height: 540px;
}

@media (min-width: 600px) {
  .section {
    height: 600px;
  }
}

@media (min-width: 1024px) {
  .section {
    height: calc(100vh - 80px);
  }
}

@layer section-text {
  .section-text-close {
    @apply absolute top-[360px] flex w-full flex-col items-center justify-center  gap-2 p-6 sm:top-[440px] lg:left-0 lg:top-[300px] lg:-translate-x-0 lg:items-start xl:pl-20 3xl:pl-36;
  }
  .section-text-open {
    @apply absolute top-[360px]  flex w-full flex-col items-center  justify-center gap-2 p-6 sm:top-[440px] lg:left-0 lg:top-[300px] lg:-translate-x-0 lg:items-start xl:pl-20 3xl:pl-36;
  }
}

@layer {
  .header {
    @apply fixed top-0 z-30 flex h-20 w-full;
  }
  .header--scrolled {
    @apply fixed top-0 z-30 flex h-20 w-full animate-[headerAnimation_0.7s_ease-in-out];
  }
}

body {
  scroll-behavior: smooth;
}

@layer {
  body {
    @apply dark:bg-dark dark:text-white;
  }
}

@layer {
  * {
    @apply font-primary;
  }
}

@layer {
  .selectImg {
    @apply mb-3 aspect-square h-20 overflow-hidden rounded-lg border-2 border-gray-900 text-center;
  }
  .notselected-img {
    @apply mb-3 aspect-square h-20 overflow-hidden rounded-lg border-2  text-center;
  }
}

@layer {
  .product-img {
    @apply h-full w-full max-w-full object-cover;
  }
  .product-img-animation {
    @apply h-full w-full max-w-full animate-[headerAnimation_0.7s_ease-in-out] object-cover;
  }
}
